<nav aria-label="breadcrumb" class="breadcrumb">
    <ol class="breadcrumb">
        <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item active">Главная</a>
        <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item active" aria-current="page">Меню словаря</a>
        <a asp-area="Admin" asp-controller="Edit" asp-action="Index" class="breadcrumb-item active">Режим редактирования</a>
        <a asp-area="Admin" asp-controller="ResearchMod" asp-action="Index" class="breadcrumb-item active">Режим просмотра</a>
    </ol>
</nav>

