<nav aria-label="breadcrumb" class="breadcrumb">
    <ol class="breadcrumb">
        <a asp-controller="Home" asp-action="Index" class="breadcrumb-item active" aria-current="page">Главная</a>
    </ol>
</nav>