@model ForeignWord


<div class="research-mod__one-word">
    <h2>Режим просмотра</h2>
    <div class="research-mod__one-word__info">
        <div class="one-word__info-main-info">
            <a class="one-word__info-main-info-word">@Model.Word</a>

        </div>
        <div class="one-word__info-secondary-info">
            <div>
                @foreach (var russianWord in Model.RussianWords)
                {
                    <a>@russianWord.Word, </a>
                }
            </div>
            <div class="one-word__info-secondary-info__examples">
                @foreach (var example in Model.Examples)
                {
                    <div class="one-word__info-secondary-info__examples-secse">
                        <a>@example.Sentence</a>
                    </div>
                    <div class="one-word__info-secondary-info__examples-translation">
                        <a>@example.Translation</a>
                    </div>
                }
            </div>
            <div class="one-word__info-secondary-info__forms">
                <div class="one-word__info-secondary-info__forms-singular">
                    <a>ед. число:</a>
                  
                </div>
                <div class="one-word__info-secondary-info__forms-plural">
                    <a>множ. число:</a>
                    
                </div>
                <div class="one-word__info-secondary-info__cases">



                  
                    <div class="one-word__info-secondary-info__cases-words">
                       
                          
                    </div>
                   
                </div>
            </div>
        </div>

        <div class="btn btn-outline-secondary">
            <a asp-controller="ResearchMod" asp-action="Index">Назад</a>
        </div>
    </div>
</div>