@model string

@if (Model is null || Model == string.Empty)
{
    <a class="nav-link"
       asp-area=""
       asp-controller="Account"
       asp-action="Login">
        Войти в аккаунт
    </a>
    return;
}
<a class="nav-link"
   asp-area=""
   asp-controller="Account"
   asp-action="Logout">
    Выйти
</a>